[Unit]
Description=ros_node_launch
After=network.target roscore_run.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 0.5
ExecStart=/bin/bash -c 'source /opt/ros/noetic/setup.bash && source /home/jetson/catin_ws/devel/setup.bash && /opt/ros/noetic/bin/roslaunch /home/jetson/catin_ws/src/arduino_comm/launch/all_pub_sub.launch'
ExecStop=/bin/bash -c 'source /opt/ros/noetic/setup.bash && source /home/jetson/catin_ws/devel/setup.bash && /opt/ros/noetic/bin/roslaunch /home/jetson/catin_ws/src/arduino_comm/launch/all_pub_sub.launch'
Restart=always

[Install]
WantedBy=multi-user.target